# priority must be less than the file /lib/udev/rules.d/60-serial.rules
# cp2102 & (hc-12 | Xbee S2C)
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", SYMLINK+="hc12"
