[Unit]
Description=Automation script
StartLimitIntervalSec=300
StartLimitBurst=5
After=python3-domio.service

[Service]
WorkingDirectory=/home/domotik
# Environment=""
ExecStart=/usr/bin/automations -c /etc/domotik/automations.toml
User=domotik
Group=domotik
Restart=on-failure
RestartSec=10s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
