[Unit]
Description=Server
StartLimitIntervalSec=300
StartLimitBurst=5
After=automations.service

[Service]
WorkingDirectory=/home/domotik
# Environment=""
ExecStart=/usr/bin/server -c /etc/domotik/server.toml
User=domotik
Group=domotik
Restart=on-failure
RestartSec=10s
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
